@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* {
    padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #0a146e;
}

a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
}

#conversation-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 7px;
}

#conversation-area label {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1em;
}

.header-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 50px;
    background-color: #f0f5fa;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-bottom: 1em;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1em;
    height: auto;
}

#currency-container label {
    margin-bottom: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.select-currency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px;
    width: 100%;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.header-area h1 {
    font-size: 1.1em;
    font-weight: 500;
}

#amount-field {
    padding-left: 1em;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    min-height: 50px;
}

#amount-field:hover, #amount-field:active {
    background: #c6c7cc62;
}

#from-currency-div, #to-currency-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    
}

#to-currency, #from-currency {
    width: 100%;
    height: 100%;
}

.select-currency:hover, .select-currency:active {
    background: #c6c7cc62;
}

.select-currency img {
    padding-right: 0.4em;
    height: 60%;
}
.select-currency span {
    padding-left: 0.4em;
}

#amount-field, #from-currency, #to-currency, .submit, .select-currency {
    height: 2em;
    border: 1px solid #edeef4;
    outline: none;
    border-radius: 7px;
    font-weight: 500;
    font-size: 1em;
}

.submit {
    border: none;
    background-color: #0071eb;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    color: white;
    cursor: pointer;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}
.submit:active, .submit:hover {
    background-color: #0072ebd0;
}

.btn-flag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border: none;
    background: #716c74;
    border-radius: 7px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    height: 100%;
    width: 30%;
    max-width: 100px;
    margin-top: 0.5em;
    outline: none;
    cursor: pointer;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}


.btn-flag img {
    width: 30%;
    height: 30%;
}

.btn-flag:hover, .btn-flag:active {
    background: #716c7491;
}

#loader, #converted-currencies {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}

.sm-currency-from, .one-to, .one-from {
    font-weight: 500;
    font-size: 1em;
}

.lg-currency-to, .currency-to-name {
    font-weight: 500;
    font-size: 1.5em;
}

.sm-currency-from, .lg-currency-to, .currency-to-name {
    line-height: 1.6;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;

    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    border-radius: 7px;
    -webkit-transform:translateY(10%);
       -moz-transform:translateY(10%);
       -ms-transform:translateY(10%);
       -o-transform:translateY(1%);
       transform:translateY(10%);
}
  
.modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:space-evenly;
        -ms-flex-pack:space-evenly;
            justify-content:space-evenly;
    width: 100%;
    margin-top: -0.5em;
}


@media screen and (min-width: 800px){
    #conversation-area {
        max-width: 800px;
    }
    .btn-flag {
        width: 20%;
    }

    #currency-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .select-currency {
        width: 100%;
    }

    #from-currency-div, #to-currency-div {
        max-width: 48%;
    }
    
    .modal-content {
        -webkit-transform:translateY(30%);
        -moz-transform:translateY(30%);
        -ms-transform:translateY(30%);
        -o-transform:translateY(30%);
        transform:translateY(30%);
    }
}

@media screen and (min-width: 921px){
    .btn-flag{
        max-width: 100px;
    }

}